*
{
    margin: 0;
    padding: 0;
    color: white;
    font-family: playfair display roman;
}
.footer{
    background-color: rgb(0, 0, 0, 0.95);
    color: rgb(255, 255, 255);
    padding:11px;
    width: 100%;
    margin-top: 250px;
    margin-right: 20px;
  }
 
  .map
  { margin-left: 100px;
}

.div_f1
{
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
    
}

.div_f2
{
    display: inline-block;
}
.Footer_title
{
    margin-left: 90px;
}
.div_f3
{
    display: inline-block;
    margin-left: 300px;
    
}
.div_f3 ::placeholder
{
    color: #000000;
}
.navo {
    background-color: rgb(0, 0, 0, 0.95);
    width: 100%;
    z-index: 999;
    position: sticky;
    bottom: 10px;
    top: 0;
    padding: 17px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.navo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: playfair display roman;
}
/* .nav
{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);

} */
ul
{
    display: flex;
}

#about
{
    background-image: url(../media/pexels-photo-1078850.webp);
    background-size:cover;
    background-position: center center;
  
}
audio { display:none;}
.headline
{
    color:rgb(53, 24, 40);
    text-align: center;
    margin-bottom: 30px;

}
.headline h2
{
    font-size: 80px;
}
.headline p
{
    font-size: 40px;
}
.cards-container
{
    display: flex;
    justify-content: space-around;
    /* background-color: bisque; */
    margin: 20px;
    margin-bottom:0;
}
.card
{
    width: 23%;
    text-align: center;
    /* background-color: aquamarine; */
}
.card img
{
    width: 100% ;
}
.links
{
    display: flex;
    justify-content: space-around;
    color: black;
    
}
.links i 
{
    margin: 15px;
    color: rgb(210, 223, 32);
}
.links i:hover
{
    color:rgb(246, 240, 240) ;
    transform:scale(2) ;
    
}
#img4
{
    height: 55%;
}
#img5{
    height: 64.5%;
}
#img6{
    height: 64.5%;
}
#img8{
     height: 64.5%;
}
@media screen and (max-width:1920px)
{
    #img1
    {
        height: 55%;
    }
    #img2{
        height: 55%;
    }
    #img3{
        height: 55%;
    }
    #img7{
         height: 64.5%;
    }
    h3{
        font-size: 23px;
    }
    .links i 
{
    font-size: 25px;
    margin: 25px;
    color: rgb(210, 223, 32);
}
.navo a{
    font-size: 30px;
}
.footer{
    margin-top: 2em;
}
.div_f3{
  width: 100%;
  margin-left: 0;
}
.map{
margin-left: 0;
width: 20%;
}
    
    }
@media screen and (max-width:1280px)
{
#img1
{
    height: 55%;
}
#img2{
    height: 55%;
}
#img3{
    height: 55%;
}
#img7{
     height: 64.5%;
}
h3{
    font-size: 15px;
}
.footer{
    margin-top: 7em;
}
.div_f3{
  width: 100%;
  margin-left: 0;
}
.map{
margin-left: 0;
width: 100%;
}
}
@media screen and (max-width:414px)
{
    #img1
{
    height: 64.5%;
}
#img2{
    height: 64.5%;
}
#img3{
    height: 64.5%;
}
#img4{
    height: 46%;
}
#img7{
     height: 64.5%;
}
#img6{
    height: 53%;
}
#img5{
    height: 53%;
}
h3{
    font-size: 12px;
}
#about{
    width: 100%;
}
.cards-container
{
    display: flex;
    justify-content: space-around;
    /* background-color: bisque; */
    margin: 20px;
    margin-bottom:0;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: wrap;
}
.card
{
   
    width: 60%;
    text-align: center;
    /* background-color: aquamarine; */
}
.card img
{
    width: 100% ;
}
.headline h2
{
    font-size: 38px;
}
.headline p
{
    font-size: 18px;
}
.navo a{
    font-size: 13px;
}
.links i 
{
    font-size: 25px;
    margin: 15px;
    color: rgb(210, 223, 32);
}
.footer{
    background-color: #0b345a;
    color: rgb(255, 255, 255);
    padding-top:11px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 0;
    margin-right: 0;
  }
  .map
  {
      margin-left: 10px;
      margin-bottom: 0;

  }
  .div_f1
{
    display: inline-block;
    margin-right: 0;
    margin-left: -10px;
    
}

.Footer_title
{
    margin-left: 10px;
}
.div_f3
{
    display: inline-block;
    margin-left: 10px;
    
}
}
