body{
    margin: 0;
    margin-left: 2px;
}
.x{
    min-height: 1000px;
    background-image: url("http://3.bp.blogspot.com/-W5PhfAZJim4/VorYNr9S9xI/AAAAAAAARho/yvGdI7LIlzU/s1600/3520952567_1bc57c9187_o.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color:black;
    text-align: center;
    font-size: 60px;
    padding-left: 40%;
    align-items: center;
    border:5px black solid;
    margin-left: 0;
}
body{
    background-color: blanchedalmond;

}
.footer{
    background-color: rgb(0, 0, 0, 0.95);
    color: rgb(255, 255, 255);
    padding:11px;
    width: 100%;
    margin-top: 250px;
    margin-right: 20px;
  }
 
  .map
  { margin-left: 100px;
}

.div_f1
{
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
    
}

.div_f2
{
    display: inline-block;
}
.Footer_title
{
    margin-left: 90px;
}
.div_f3
{
    display: inline-block;
    margin-left: 300px;
    
}
.div_f3 ::placeholder
{
    color: #000000;
}
table{
    width:100%
}
h1.name{
    text-align: center;
    color:blue;
    font-size: 40px;
}
p.name{
    color:purple;
    font-size: 22px;
    text-align: center;
}
h1.f{
    text-align:center;
    color:blueviolet;
    font-size: 40px;
}
th{
    font-size: 30px;
}
td{
    font-size: 25px;
    color:brown;

}
h1.m{
    text-align:center;
    color:black;
    font-size: 40px;
}
p.m{
    color:orangered;
    font-size: 22px;

}
ol{
    color:brown;
    font-size: 25px;
}
.l{
    color:red;
    font-size: 30px;


}
.Timg{
    width: auto;
}
#imm{
    width: 100%;
}
.navo {
    background-color: rgb(0, 0, 0, 0.95);
    width: 100%;
    z-index: 999;
    position: sticky;
    bottom: 10px;
    top: 0;
    padding: 17px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.navo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: playfair display roman;
}
@media screen and (max-width:1920px)
{
    .footer{
        margin-top: 2em;
    }
    .div_f3{
      width: 100%;
      margin-left: 0;
  }
  .map{
    margin-left: 0;
    width: 20%;
}
    body{
        margin: 0;
        margin-left: 2px;
    }
    .x{
        min-height: 1000px;
        background-image: url("http://3.bp.blogspot.com/-W5PhfAZJim4/VorYNr9S9xI/AAAAAAAARho/yvGdI7LIlzU/s1600/3520952567_1bc57c9187_o.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        color:black;
        text-align: center;
        font-size: 60px;
        padding-left: 40%;
        align-items: center;
        border:5px black solid;
    }
    body{
        background-color: blanchedalmond;
    
    }
    table{
        width:100%
    }
    h1.name{
        text-align: center;
        color:blue;
        font-size: 100px;
    }
    p.name{
        color:purple;
        font-size: 52px;
        text-align: center;
    }
    h1.f{
        text-align:center;
        color:blueviolet;
        font-size: 100px;
    }
    h1.k{
        font-size: 80px;
    }
    th{
        font-size: 40px;
    }
    td{
        font-size: 35px;
        color:brown;
    
    }
    h1.m{
        text-align:center;
        color:black;
        font-size: 100px;
    }
    p.m{
        color:orangered;
        font-size: 52px;
    
    }
    ol{
        color:brown;
        font-size: 50px;
    }
    .l{
        color:red;
        font-size: 30px;
    
    
    }
    .Timg{
        width: auto;
    }
    .img
    {
        width: 40em;

    }
    #imm{
        width: 100%;
    }
    a{
        font-size: 40px;
    }
}
@media screen and (max-width:1366px)
{
    .footer{
        margin-top: 2em;
        width: 98%;
    }
    .div_f3{
      width: 100%;
      margin-left: 0;
  }
  .map{
    margin-left: 0;
    width: 20%;
}
    body{
        margin: 0;
        margin-left: 2px;
    }
    .x{
        min-height: 1000px;
        background-image: url("http://3.bp.blogspot.com/-W5PhfAZJim4/VorYNr9S9xI/AAAAAAAARho/yvGdI7LIlzU/s1600/3520952567_1bc57c9187_o.gif");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        color:black;
        text-align: center;
        font-size: 60px;
        padding-left: 40%;
        align-items: center;
        border:5px black solid;
    }
    body{
        background-color: blanchedalmond;
    
    }
    table{
        width:100%
    }
    h1.name{
        text-align: center;
        color:blue;
        font-size: 40px;
    }
    p.name{
        color:purple;
        font-size: 22px;
        text-align: center;
    }
    h1.f{
        text-align:center;
        color:blueviolet;
        font-size: 40px;
    }
    h1.k{
        font-size: 40px;
    }
    th{
        font-size: 30px;
    }
    td{
        font-size: 25px;
        color:brown;
    
    }
    h1.m{
        text-align:center;
        color:black;
        font-size: 40px;
    }
    
    p.m{
        color:orangered;
        font-size: 22px;
    
    }
    ol{
        color:brown;
        font-size: 25px;
    }
    .l{
        color:red;
        font-size: 30px;
    
    
    }
    .Timg{
        width: auto;
    }
    #imm{
        width: 100%;
    }
    .img{
        width: 30em;
    }
    a{
        font-size: 25px;
    }
}
@media screen and (max-width:768px)
{
    .x{
        min-width:300px;
        padding-left:20%;
        font-size: 30px;
    }
    p.name{
        font-size: 1.5em;
    }
    h1.name{
       font-size: 2.5em;
    }
    h1.f{
        font-size:2.5em;
    }
    h1.k{
        font-size: 2em;
        text-align: center;
    }
    table{
        width: 50%;
    }
    th{
        font-size: 25px;
    }
    td{
        font-size: 20px;
        color:brown;
    
    }
    .Timg{
        width: 25.5em;
    }
    #imm{
        width: 100%;
    }
    .img{
        width: 20em;
    }
    ol{
        color:brown;
        font-size: 20px;
        text-align: left;
        
    }
    a{
        font-size: 30px;
    }
    p.m{
        text-align: center;
    }
    
}
@media screen and (max-width:414px)
{
    .footer{
        margin-top: 7em;
    }
    .div_f3{
      width: 100%;
      margin-left: 0;
  }
  .map{
    margin-left: 0;
    width: 100%;
}
    .x{
        width:300px;
        padding-left:20%;
        font-size: 20px;
    }
    p.name{
        font-size: 1em;
    }
    h1.name{
       font-size: 2em;
    }
    h1.f{
        font-size:2em;
    }
    h1.k{
        font-size: 2em;
        text-align: center;
    }
    table{
        width: 50%;
    }
    th{
        font-size: 15px;
    }
    td{
        font-size: 10px;
        color:brown;
    
    }
    .Timg{
        width: 22em;
    }
    .img{
        width: 10em;
    }
    ol{
        color:brown;
        font-size: 20px;
        text-align: left;
        
    }
    a{
        font-size: 20px;
    }
    p.m{
        text-align: center;
    }


    
}
